<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net462" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net462" />
  <package id="MahApps.Metro" version="2.4.10" targetFramework="net472" requireReinstallation="true" />
  <package id="MaterialDesignColors" version="3.0.0" targetFramework="net462" />
  <package id="MaterialDesignThemes" version="5.0.0" targetFramework="net462" />
  <package id="MaterialDesignThemes.MahApps" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net462" />
  <package id="OxyPlot.Core" version="2.1.2" targetFramework="net462" />
  <package id="OxyPlot.Wpf" version="2.1.2" targetFramework="net462" />
  <package id="OxyPlot.Wpf.Shared" version="2.1.2" targetFramework="net462" />
  <package id="WPF.UI" version="3.4.1.9" targetFramework="net462" />
</packages>